@import '../../index.scss';

.home-container {
  font-family: $font-fam-primary;
  color: $black-color;

  section {
    min-height: 80vh;
  }

  // h2 {
  //   @include header(2rem);
  // }

  .widgets {
    position: fixed;
    top: 50vh;
    right: 20px;

    @include flex($direction: column-reverse, $align: flex-end);

    gap: 12px;
    z-index: 1;
  }

  .order-modal {
    position: fixed;
    z-index: 2;

    .backdrop {
      .order-modal-container {
        height: 300px;
        width: 500px;

        @include white-bg;

        margin: 40vh auto;
        padding: 1rem;

        @include flex($direction: column);

        position: relative;

        .close {
          position: absolute;
          right: 10px;
          top: 10px;
        }

        h2 {
          margin-bottom: auto;
        }

        form {
          flex: 1;
          width: 90%;

          @include flex($direction: column);

          gap: 15px;
          font-size: 1.25rem;
          line-height: 1rem;

          label {
            text-align: start;
          }

          input {
            padding: 0.5rem;
            width: 100%;
            border: 2px solid $primary-color;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .banner {
    height: 70vh;
    padding: 7rem 5rem;

    @include flex;

    gap: 20px;

    h1 {
      color: $primary-color;
    }

    .banner-desc {
      padding: 2rem;
      
      @include white-bg;
      @include flex($direction: column, $align: flex-start);
      
      width: 430px;
      gap: 12px;
    }
  }

  .about-us {
    background-color: $gray-color;
    color: $black-color;
    padding: 64px 0;
    
    .about-container {
      gap: 48px;
      @include flex($direction: column);

      .about-desc {
        @include flex($align: flex-start);
  
        gap: 32px;
  
        p {
          flex: 0.5;
        }
  
        img {
          height: 150px;
          width: 190px;
          border-radius: 15px;
        }
      }
      
      .about-gallery {
        ul{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 32px;
          
          img {
            object-fit: cover;
            border-radius: 15px;
            width: 350px;
            height: 220px;
          }
        }
      }
    }
  }

  .dishes {
    @include flex($direction: column);

    gap: 32px;
    padding: 5rem 0;

    .dish-category {
      h3 {
        text-align: center;
      }

      ul {
        margin: 32px 0;

        @include flex;

        gap: 16px;

        button {
          padding: 7px;
          font-weight: 500;
        }
      }
    }

    .dish-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;
      gap: 32px;      

      li {
        @include white-bg;
        @include flex($direction: column);
        overflow: hidden;
        position: relative;

        .dish-footer {
          @include flex($direction: column);
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(26,29,78, 0.8);
          color: white;
          padding: 0.7rem;
          opacity: 0;

          button {
            border: none;
            background: none;
            text-decoration: underline;
            color: $white-color;
            cursor: pointer;
          }

        }
      }
      
      img {
        height: 240px;
        width: 100%;
        object-fit: cover;
      }
    }

    .dish-display {
      @include flex($align: flex-start);
      width: 100%;

      gap: 32px;
      padding: 3rem 0;

      .dish-details {
        @include white-bg;
        @include flex($direction: column, $align: flex-start);

        gap: 10px;
        min-height: 190px;
        max-width: 690px;
        padding: 16px;
      }

      img {
        height: 190px;
        width: 200px;
        border-radius: 15px;
      }
    }

    .no-display {
      display: none;
    }
  }

  .why-us {
    background-color: $gray-color;
    color: $black-color;
    
    .why-container {
      @include flex($direction: column);
      gap: 32px;
      .service {
        @include flex;
  
        gap: 32px;
  
        li {
          // @include white-bg;
          padding: 2rem;
  
          @include flex($direction: column);
          // gap: 20px;
          height: 300px;
          width: 260px;
          overflow: hidden;
  
          svg {
            font-size: 3rem;
            color: $black-color;
          }
  
          h3 {
            padding: 15px;
          }
  
          .line {
            height: 5px;
            width: 30px;
            background-color: $secondary-color;
          }
  
          p {
            flex: 1;
            padding-top: 15px;
            text-align: center;
          }
        }
      }
    }
  }

  .testimonials {
    margin: 6rem auto;
    flex-direction: column;
    gap: 30px;

    h2 {
      padding-bottom: 100px;
    }

    .app__testimonial-item {
      background-color: #fff;
      min-height: 320px;
      max-width: 950px;
      display: flex;
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }

      @media screen and (min-width: 2000px) {
        min-height: 450px;

        img {
          width: 150px;
          height: 150px;
        }
      }

      @media screen and (max-width: 850px) {
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
    }

    .app__testimonial-content {
      flex: 1;
      height: 100%;
      padding: 0 2rem;
      text-align: left;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-around;

      p {
        font-size: 1.25rem;
        line-height: 2rem;
      }

      h4 {
        font-weight: 600;
        color: $primary-color;
        margin-top: 2rem;
      }

      h5 {
        font-weight: 400;
        color: #6b7688;
        margin-top: 5px;
      }
    }

    .app__testimonial-btns {
      margin-top: 1rem;
      gap: 20px;

      div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        background-color: #fff;

        svg {
          color: $primary-color;
        }

        &:hover {
          background-color: $primary-color;

          svg {
            color: #fff;
          }
        }
      }
    }
  }
}
