@import '../../index.scss';

.nav-container {
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  padding: 24px 128px;

  @include blur-bg;
  @include flex($justify: space-between);

  color: $black-color;
  font-family: $font-fam-primary;

  a {
    color: $black-color;

    &:hover {
      color: $secondary-color;
    }
  }

  ul {
    @include flex;

    gap: 24px;
    text-transform: uppercase;

    li {
      position: relative;

      .admin {
        @include white-bg;
        gap: 10px;
        padding: 1rem;
        position: absolute;
        display: none;
      }
      
      &:hover {
        .admin{
          @include flex;
        }
      }
    }
    }
}
