//colors
$primary-color: #1a1d4e;
$secondary-color: #ff004d;
$third-color: #a2ded0;
$white-color: #f1f1f1;
$black-color: #303030;
$gray-color: #cfcfcf;

//font styles
$font-fam-primary: -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

//Buttons
@mixin btn($bg, $text) {
  border: none;
  background-color: $bg;
  color: $text;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.btn-primary {
  @include btn($primary-color, $white-color);
}

.btn-secondary {
  @include btn($secondary-color, $white-color);
}

.btn-disabled {
  @include btn($white-color, $primary-color);

  border: 1px solid $primary-color;
}

.close-btn {
  @extend .btn-primary;

  border-radius: 50%;
  padding: 5px 10px;

  &:hover {
    scale: 1;
  }
}

button:hover {
  scale: 1.05;
}

//headers
@mixin header($size) {
  color: $primary-color;
  font-size: $size;
}

.main-header {
  @include header(3rem);
}

.header {
  @include header(2rem);
}

//texts

.p-text1 {
  font-size: 0.8rem;
  text-align: left;
  color: $black-color;
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.p-text {
  @extend .p-text1;

  color: $white-color;
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: $black-color;
  text-transform: capitalize;

  span {
    color: $secondary-color;
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

//other mixins
@mixin blur-bg {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);

  --webkit-backdrop-filter: blur(4px);
}

@mixin white-bg {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

@mixin flex($direction : row, $justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

.app_flex {
  @include flex;
}

.app_center {
  max-width: 1080px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.copyright {
  padding: 1rem 0 0;
  font-size: 0.4rem;

  @include flex;

  p {
    text-transform: uppercase;
    color: $white-color;
  }
}

// App

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;

  ul {
    list-style-type: none;
  }
}

body {
  background-color: $white-color;
}
